* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 28px;
  font-family: 'Nova Slim', cursive;
  background-color: var(--main-beige);
  color: var(--main-brown);
  overflow-x: hidden;
}

:root{
    /* colors */
    --main-beige:#FFF6ED;
    --main-orange:#F1A96D;
    --secondary-orange:orange;
    --main-brown:#422D26;
    /* font sizes */
    --header-size-mobile:24px;
    --header-size-desktop:48px;
    --p-size-mobile:18px;
    --p-size-desktop:20px;
}

.logo {
  top: 0.20em;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 1em;
  font-size: var(--header-size-mobile);
  color: var(--main-brown);
  z-index: 1;
  position: sticky;
  
}
.nav svg{
    cursor: pointer;
}

.menu li:hover {
  color: var(--secondary-orange);
  cursor: pointer;
}

.menu {
  display: flex;
  list-style-type: none;
  z-index: 1;
 
}
.menu > li{
    padding: .5em;
}
/*Container for menu button  */
.menu-button-container {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

/*  Creating the menu button */
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--main-orange);
  position: absolute;
  height: 4px;
  width: 32px;
  border-radius: 3px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

.nav-bar-bottom-lines {
  width: 100%;
  margin-bottom: 0.1em;
  height: 1px;
  background-color: var(--main-brown);
}

/*  Adding Functionality to the Hamburger Menu with CSS  */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  /*  transforms the hamburger icon into a cross  */
  transform: rotate(-45deg);
}

/* Hiding the menu by default */
.menu{
    display: none;
}
/* Displaying the menu when the checkbox is checked */
#menu-toggle:checked + .menu-button-container + .menu {
  position: absolute;
  display: block;
  top: 1.6em;
  right: 1em;
  background-color: orange;
 padding: 1em 1em 1em 1em;
}

/* media query for desktop */
@media (min-width: 700px) {
  .menu-button-container {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-around;
   
  }

  .menu > li {
    list-style-type: none;
    padding: .5em;
  }

  .menu > li:not(:last-child) {
    border-bottom: none;
    margin-right: 1rem;
  }
}
/* end nav */

.introduction{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.introduction > img{
  height: 20em;
  border-radius: 100px 100px 0 0;
  top: 1em;
  position: relative;
  box-shadow: 5px 5px 20px 5px #ccc;
}

.about{
  background-color: var(--main-orange);
  width: 18em;
  z-index: 1;
  padding: 1em;
 
}
.about > button{
  background-color: var(--main-beige);
  border: 0;
  padding: .5em;
  width:6.9em;
  font-family: 'Nova Slim', cursive;
  font-size: var(--p-size-mobile);
}

.about >button:hover{
  border: 2px solid #ff6600;
  scale: 1.1;
  margin-right: .2em;
  margin-left: .2em;
}
/* media query desktop */

@media (min-width: 700px) {

  .introduction{
    flex-direction: row;
    
    position: relative;
    top: 1em;
    left: 10%;
  }
  .introduction > img{
    height: 30em;
    border-radius: 150px 150px 0 0;
  }

  .about{
  width: 25em;
  position: absolute;
  top: 9em;
  left: 15em;
  }
}

/* secondary for big big screens */

@media (min-width: 1000px) {

  .introduction{
    left: 30%;
  }

}

/* timeline */

h1{
  padding: 1em;
}

.top-circle{
  border-radius: 50%;
  background-color: #F1A96D;
  width: 10em;
  height: 10em;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  top: 3em;
 
}

.timeline-root{
  border-left: 1px solid var(--main-brown);
  border-right: 1px solid var(--main-brown);
  width: 5em;
  position: relative;
  top: 1.5em;
  left: 2.5em;
  height: 100%;
  
}

.timeline-root li{
  list-style-type: none;
  padding: 1em;
  position: relative;
  left: -6em;
  top: 3em;

  
}
li > h2{
  transform: rotate(-90deg);
  background-color: #ff6600;
  width: 9em;
  margin-bottom: 5em;
  padding:1em;
  border-radius: 60%;
  font-size: var(--p-size-mobile);
  text-align: center;
}

.website-preview > h3{
  border-bottom: 1px solid ;
  padding-left: 3em;
}

.website-preview h3::after{
  content: '';
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  top: 2.2em;
}
.website-preview{
  position: absolute;
  left: 8.5em;
  width: 15em;
  top: 1em;
 
}
.website-preview img{
  position: relative;
  height: 8em;
  left: 1em;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 5px #ccc;
 

}






.website-preview.visible {
  display: block;
}

/* Add this to your existing CSS file */
.website-preview .overlay {
  display: none;
  position: absolute;
  width: 16.5em;
  height: 8em;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  transition: opacity 0.3s;
  left: 1em;
  z-index: 0;
}

.website-preview:hover .overlay {
  display: block;
  opacity: 1;
  z-index: 1;
}

.website-preview .overlay a {
 left: 1em;
top: 4em;
width: 9em;
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: -1;
}

.overlay a:hover{
  text-decoration: underline;
}

/* Hide all images by default */
.timeline-root img {
  display: none;
}

/* Show the first image by default */
.timeline-root img.visible {
  display: block;
}

/* media query deskto0p */

@media (min-width: 700px) {

  .timeline{
    top: -8em;
    position: relative;
  }
  .timeline-root img {
    display: block;
  }



}
@media (min-width: 1000px) {

  .timeline{
    left: 25em;
    top: -8em;
    position: relative;
  }
  .timeline-root li:nth-child(odd) .website-preview {
    left: -15em;
    right: auto;
    
  }
  .timeline-root li:nth-child(odd) .website-preview h3{
    padding-left: 0;
    width:14.8em;
   margin-right: 0;
    left: 1em;
    position: relative;
   
  }
  .timeline-root li:nth-child(odd) .website-preview h3::after{
    content: '';
    display: none;
  }
  .timeline-root li:nth-child(odd) .website-preview h3::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: 100%;
    top: 1.3em;
  }

}

/* footer */
footer{
  height: 1em;
  margin-top: 5em;
  position: relative;
}